.main {
    .hide-pc, 
    .hide-table {
        display: none;
    }
    &-logo {
        width: 100%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }
    }

    &-info {
        &-image {
            position: relative;
            height: 98rem;
            >img {
                height: 100%;
                width: 100%;
            }

            .main-content {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;

                &--logo {
                    margin-bottom: 0.5rem;
                    margin-top: 5rem;
                    img {
                        width: 8.4rem;
                        height: 6.9rem;
                    }
                }

                &-heading {
                    text-transform: uppercase;
                    font-family: UTM-AvoBold;
                    font-size: 2.8rem;
                    margin-bottom: 5.6rem;
                }

                &-left {
                    &__list {
                        text-align: justify;
                        line-height: 1.4em;
                        margin-bottom: 1rem;

                        &--item {
                            font-size: 1.8rem;
                            line-height: 1.25;
                        }
                    }
                    .service--detail__btn {
                        margin-left: 50%;
                        transform: translateX(-50%);
                        background-color: #fff;
                        padding: 1rem 5rem;
                        color: #a1710f;
                        position: relative;
                        font-size: 2.6rem;
                        font-family: Gilroy-Bold;
                        text-transform: uppercase;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                    .service--detail__btn::after {
                        content: "";
                        position: absolute;
                        top: 0.3rem;
                        left: 0.3rem;
                        right: 0.3rem;
                        bottom: 0.3rem;
                        width: 98%;
                        height: 90%;
                        border: 0.2rem dashed $orange;
                        border-radius: 8rem;
                    }
                }

                &-right {
                    &__one {
                        width: 47.4rem;
                        height: 50.6rem;
                        margin-left: 9.6rem;
                    }

                    &__two {
                        position: absolute;
                        left: 4.8rem;
                        bottom: -12.9rem;
                        width: 30.3rem;
                        height: 30.4rem;
                    }

                    &__three {
                        position: absolute;
                        right: -0.4rem;
                        bottom: -21.5rem;                    
                        width: 21.2rem;
                        height: 21.1rem;
                    }
                }
            }
        }

        .main-inftras {
            position: absolute;
            bottom: -123rem;
            right: 0;
            left: 0;
            z-index: -1;

            &-image {
                position: relative;
                height: 130rem;

                &__above {
                    position: relative;
                    height: 100%;
                }

                &__below {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                }
            }

            &-content {
                position: absolute;
                top: 17rem;
                right: 0;
                left: 0;

                &__logo {
                    // margin-top: 11.8rem;
                    margin-bottom: 0.5rem;

                    img {
                        width: 8.4rem;
                        height: 6.9rem;
                    }
                }

                &__heading {
                    text-transform: uppercase;
                    font-family: Gilroy-Bold;
                    font-size: 2.3rem;
                    margin-bottom: 11.6rem;
                    padding: 0px 38%;
                    line-height: 1.2;
                }

                &__right {

                    &--one {
                        width: 53.7rem;
                        height: 50.4rem;
                    }

                    &--two {
                        position: absolute;
                        left: -4.8rem;
                        bottom: 12rem;
                        width: 33.6rem;
                        height: 30.4rem;
                    }

                    &--three {
                        position: absolute;
                        right: 4.8rem;
                        bottom: 5rem;
                        height: 23.2rem;
                    }
                }

                &__left {
                    text-align: justify;
                    line-height: 1.4em;

                    &--list {
                        &-item {

                            font-size: 1.8rem;
                            margin-top: 2.5rem;
                            line-height: 1.25;

                            span {
                                font-family: Gilroy-XBold;
                            }
                        }

                        &-item:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    &-device {
        margin-top: 131.8rem;
        height: 55rem;
        &-left {

            &__list {
                position: relative;
                width: 100%;

                &--item {
                    top: 10rem;
                    img {
                        height: 37.6rem;
                    }
                }

                &--item1 {
                    position: absolute;
                    top: 0;
                    right: 16rem;
                    img {
                        height: 25.8rem
                    }
                }

                &--item2 {
                    position: absolute;
                    top: 26.9rem;
                    left: 4rem;

                    img {
                        width: 26.6rem;
                        height: 22.8rem;
                    }
                }

                &--item3 {
                    position: absolute;
                    top: 11.2rem;
                    left: 28.8rem;

                    img {
                        width: 23.1rem;
                        height: 40.3rem;
                    }
                }
            }
        }

        &-right {
            text-align: right;
            img {
                width: 100%;
            }
        }
    }

    &-team {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &-papers {
        position: relative;
        height: 39.8rem;
        margin-top: 12.4rem;

        >img {
            width: 100%;
            height: 100%;
        }

        &-content {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;

            &__logo {
                width: 8.6rem;
                height: 6.8rem;
                display: block;
                margin-left: auto;
                margin-right: auto;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__heading {
                font-size: 2.3rem;
                font-family: UTM-AvoBold;
                margin-top: 1rem;
                padding: 0 42%;
                line-height: 1.2;
            }

            &__image {
                margin-right: auto;
                margin-left: auto;
                margin-top: 3.8rem;

                &--list {
                    justify-content: space-evenly;
                    &-item {
                        width: calc(100% / 6);
                        img {
                            width: 100%;
                            height: auto;
                            border-radius: 2rem;
                        }
                    }
                }
            }
        }
    }

}