@import 'variables';
    .dp-blockPC {
        display: block;
    }

    .pd-5 {
        padding-left: 5rem;
    }

    .pd-1 {
        padding-left: 1rem;
    }

    .result {
        margin: 0 !important;
    }
    .top-banner {
        .top-banner-1 {
            height: 59.1rem;
        }
    }
    .container-item {
        .container-body {
            .container-service {
                .container-service-item {
                    .container-service-item__note {
                        bottom: 1rem;
                        left: 1rem;
                        &--image{
                            width: 6rem;
                            height: 6rem;
                        }
                        &--desc{
                            font-size: 1.4rem;
                            line-height: 4rem;
                            padding: 0 1rem 0 4rem;
                            min-width: 18rem;
                            margin-left: -3.5rem;
                        }
                    }
                    .service-information {
                        position: absolute;
                        left: 1.2rem;
                        bottom: 0.5rem;
                        .service-info-detail {
                            display: flex;
                            align-items: center;
                            position: relative;
                            .service-info-logo {
                                width: 8rem;
                                height: 8rem;
                                z-index: 1;
                                .service-info-logo-image {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .service-info-desc {
                                position: absolute;
                                right: -19rem;
                                // padding: 0 5rem 0 5rem;
                                text-transform: uppercase;
                                font-size: 1.4rem;
                                line-height: 5rem;
                                background-color: #FED119;
                                border-radius: 5rem;
                                font-weight: 600;
                                min-width: 24rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-container {
        padding: 10rem 0 14rem;
        // margin: 18rem 0 29rem 0;
    }

    .container-item {
        .container-heading {
            padding-bottom: 6.5rem;

            .container-item-logo {
                height: 9.6rem;
            }

            .container-item-title {
                font-size: 2.5rem;

            }
        }
        .container-body {
            .container-service {
                .container-service-item {
                    margin-bottom: 2rem;
                    .container-service-item__note{
                        bottom: 2.5rem;
                        left: 1.5rem;
                        &--image{
                            width: 8rem;
                            height: 8rem;
                        }
                        &--desc{
                            font-size: 1.6rem;
                            line-height: 5rem;
                            padding: 0 3rem;
                            min-width: 22rem;
                            margin-left: -3.5rem;
                        }
                    }
                    .service-information {
                        position: absolute;
                        left: 1.2rem;
                        bottom: 0.5rem;
                        .service-info-detail {
                            display: flex;
                            align-items: center;
                            position: relative;
                            .service-info-logo {
                                width: 8rem;
                                height: 8rem;
                                z-index: 1;
                                .service-info-logo-image {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .service-info-desc {
                                position: absolute;
                                right: -19rem;
                                // padding: 0 5rem 0 5rem;
                                text-transform: uppercase;
                                font-size: 1.4rem;
                                line-height: 5rem;
                                background-color: #FED119;
                                border-radius: 5rem;
                                font-weight: 600;
                                min-width: 24rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .system-introduction {
        margin-top: 9.45rem;

        .introduction-image {
            display: flex;

            .introduction-image-1 {
                height: 60rem;
                width: 64.5%;
                margin-left: 50%;
                transform: translateX(-50%);
            }

            .introduction-image-2,
            .introduction-image-3 {
                height: 26.75rem;
                position: absolute;
            }
        }
        .introduction-info {
            padding-left: 8rem;
            .introduction-info-logo {
                height: 7.1rem;
                text-align: left;
                margin-left: 16%;
                margin-bottom: 3.2rem;
            }
            .introduction-info-title {
                font-size: 3.4rem;
                line-height: 4.9rem;
                text-align: left;
            }
            .introduction-info-desc {
                font-size: 1.6rem;
                width: 57%;
            }
        }
    }
    .top-banner-2 {
        height: 49.9rem;

        .top-banner-body {
            height: 33.8rem;
            top: 8.15rem;
            justify-content: center;
            &__item{
                width: 33.6rem;
                height: 33.6rem;
                margin: 0 1.5rem;
                border-radius: 5rem;
                &--heading{
                    font-size: 2.8rem;
                    padding: 5rem;
                }
                &--desc{
                    font-size: 1.6rem;
                    padding: 2rem 5rem 0 5rem;
                }
            }
        }
    }
    .treatment-result {
        padding: 4.2rem 0 6.2rem 0;
    }
    .container-body {
        .treatment-category {
            padding: 0 2rem;
            .category-nav {
                .category-item {
                    .category-item-link {
                        font-size: 2.4rem;
                        line-height: 6.6rem;
                        padding: 0 4rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .treatment-result-list {
        margin-top: 4.1rem;
        .treatment-result-item {
            .treatment-result-desc {
                margin-top: 2.5rem;
                font-size: 2rem;
                padding: 0 2rem;
                text-align: center;
                color: $black;
            }
        }
    }
    .event {
        padding: 3.4rem 0 15.2rem 0;
        margin: 0;

        .container-item {
            .container-heading {
                .container-item-logo {}
            }
            .container-body {
                .event-list {
                    display: flex;
                    justify-content: space-evenly;
                    .event-item {
                        transition: 0.3s ease-in-out;
                        .event-item-image {
                            height: 27.7rem;
                            .event-image {
                                width: 100%;
                                object-fit: cover;
                                border-radius: 2rem;
                            }
                        }
                        .image-pseudo::after {
                            border-right: 2px solid #000000;
                            height: 16.5rem;
                            right: -5.5rem;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        .event-item-text {
                            .event-title {
                                font-size: 1.6rem;

                                max-width: 23.4rem;
                                padding: 3.5rem 0 1.5rem 0;
                            }
                            .event-desc {
                                max-width: 23.4rem;
                                font-size: 1.8rem;
                            }
                        }
                    }
                    .event-item:hover {
                        padding-bottom: 0.2rem;
                    }
                }
            }
            .container-footer {
                text-align: center;
                padding-top: 4.55rem;
                .btn-exception {
                    @include buttonStyle();
                    font-size: 2.4rem;
                    padding: 1.2rem 2.2rem;
                }
            }
        }
    }
    .sale {
        background-color: $background-home;
        .sale-heading {
            background-color: $background-home;
        }
        .sale-heading-nav{
            position: absolute;
        }
    }
    .sale-container {
        background-color: $background-home;
        padding: 17.5rem 0 7rem 0;
    }
    .beauty-store {
        padding: 6.1rem 0;
        .container-item {
            .container-body {
                //.slide-container{
                //    padding: 2rem;
                //}
            }
            .container-footer {
                padding-top: 3.7rem;
            }
        }
    }
    .modal--maps{
        &--address{
            width: 60.38rem;
        }
    }
