@include responsive_pclow {
    .training-detail {
    padding-bottom: 18rem;

    }
    .home-training {
        border-radius: 2rem;
        .single-training-title {
            font-size: 3rem;
        }

        .details-expert {
            margin-top: 3rem;

            &-title {
                font-size: 3rem;

            }
        }
        .details-graduate,
        .details-courses {
            &-title {
                font-size: 3rem;

            }
        }
        .details-courses::after{
            width: 70%;

        }
        .details-graduate{
            &-outstanding{
                &__list{
                    &--item{
                        &--text{
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
    .details-menu-list__item--link {
        font-size: 1.4rem;
    }
    .details-menu-list__item--link.active {
        font-size: 1.3rem;
    }
    
    .details-news .detail-news--menu__list--item--images {
        width: 8.7rem;
    }
    .details-news .detail-news--menu__list--item--desc {
        > p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 80%;
        }
    }
    .address-training{
        display: none;
    }
}

@include responsive_mobile {
    .address {
        &-nav,
        .location-details {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }
    .training-detail-container {
        flex-direction: column-reverse;
        
        padding: 0 2rem;
        background-color: $background-home;
        .home-training {
            background-color: $white;

            > .heading-mobile {
                display: block;
                padding: 0 10rem;
                margin-bottom: 5rem;
                font-size: 2rem;
                text-align: center;
            }
            .details-reason-img,
            .details-expert-img__one {
                width: 100%;
            }
            .details-rated-title {
                font-size: 2.5rem;
            }

            .details-header,
            .details-content,
            .details-reason,
            .details-expert,
            .details-courses,
            .details-graduate,
             .details-rated{
                padding: 0 1rem;
            }
            .details-graduate,
            .details-expert {
                &-title {
                    font-size: 2rem;

                }
            }
            .details-courses {
                &-title {
                    font-size: 2rem;
                }
            }
            .details-courses::after{
                width: 100%;
    
            }
            .details-graduate{
                &-outstanding{
                    &__list{
                        &--item{
                            &--text{
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .training-detail {
        background: #fdf9e8;
        margin-bottom: 0;
        padding-bottom: 10rem;
    }
    .address-training{
       margin-left: 0!important;
       margin-right: 0!important;
        background-color: #fff;
    }
    .details-menu {
        display: block;
        padding-bottom: 4rem;

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &__item {
                margin: 0 1rem 1rem 0;
                &--link {
                    padding: 0.5rem 1rem;
                    font-size: 1.4rem;
                }
            }
        }
    }
    .details-menu-list__item--link.active {
        font-size: 1.5rem;
    }
    .details-news {
        display: none;
    }
    .details-graduate-outstanding .slick-prev {
        top: 25%;
        left: -1rem;
    }
    .details-graduate-outstanding .slick-next {
        top: 24%;
        right: -1rem;
    }
}
@include responsive_tablet {
    .details-news-title {
        font-size: 1.4rem;
    }
    .details-menu-list__item--link {
        font-size: 1.4rem;
    }
    .details-menu-list__item--link.active {
        font-size: 1.4rem;
    }
    .details-news .detail-news--menu__list--item--desc {
        > p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 80%;
        }
    }
}