@include responsive_tablet{
    .contact-address{
        &-item{
            &__maps{
                
            }
        }
    }
   
    .promotion--container--body__list{
        justify-content: space-evenly;
    }
}
@include responsive_mobile{
    .mt-10 {
        margin-top: 0 !important;
    }
   
    .contact-address-item__maps--link{
        width: 100%;
        height: 100%;
    }
    .contact-address-item__maps {
        width: 100%;
        height: 28.2rem;
        margin-bottom: 5rem;
    }
 
    .none-mobile{
        display: none;
    }
    .align-mobile{
       margin-left: 3rem !important;
       margin-right: 3rem !important;
    }
    .line-height_mobile{
        line-height: 3em;
    }
}
@include responsive_pclow{
    
}
