@include responsive_pcsmall{
    .container-item {
        .container-body {
            .container-service {
                .training--item {
                    margin-bottom: 5.5rem;
                    a{
                        background-color: #faf5da;
                        padding-bottom: 1.2rem;
                        border-radius: 4rem 4rem 2rem 2rem;
                        display: block;
                        .container-service-item__note{
                            &--image{
                                width: 6.6rem;
                                height: 6.6rem;
                            }
                            &--desc{
                                display: none;
                                font-size: 1.6rem;
                            }
                            .training--desc{
                                display: block;
                                line-height: 2.2rem;
                                padding: 0 1rem 0 3rem;
                                max-width: 22rem;
                                border-radius: 5rem;
                                text-align: center;
                                margin-left: -3.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include responsive_pclow{
    .banner-training{
        display: none;
    }
    .training-container{
        .container-body-training{
            display: none;
        }
    }
    .address-training,
    .advise-contact-training{
        display: none;
    }
    .container-item {
        .container-body {
            .container-service {
                .training--item {
                    margin-bottom: 5.5rem;
                    a{
                        background-color: #faf5da;
                        padding-bottom: 1.2rem;
                        border-radius: 4rem 4rem 2rem 2rem;
                        display: block;
                        .container-service-item__note{
                            &--image{
                                width: 6.6rem;
                            }
                            &--desc{
                                display: none;
                                font-size: 1.6rem;
                            }
                            .training--desc{
                                display: block;
                                line-height: 2.2rem;
                                padding: 0 1rem 0 3rem;
                                max-width: 22rem;
                                border-radius: 5rem;
                                text-align: center;
                                margin-left: -3.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include responsive_tablet {
    .headers {
        display: none;
    }
     .banner-training{
        display: block;
     }  
     .content-container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        .container-item{
            .container-body{
                .container-service{
                    .training--item{
                        a{
                            position: relative;
                            .service-image{
                                width: 100%;
                            }
                            .container-service-item__note{
                               position: absolute;
                               bottom: 0.5rem;
                               left: 0.5rem;
                                &--image{
                                    width: 6rem;
                                    height: 6rem;
                                    z-index: 1;
                                }
                                &--desc{
                                    font-size: 1.2rem;
                                    padding: 0 1rem 0 2rem;
                                    border-radius: 2rem;
                                    margin-left: -2rem;
                                    text-align: center;
                                    min-width: 18rem;
                                }
                                .training--desc{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .advise-contact{
        &__body{
           .contact-body{
                display: flex;
                flex-direction: column-reverse;
                &__left{
                    display: flex;
                    .contact-body__column{
                       
                        .contact-logo{

                        }
                    }
                }
                &__right{
                    &-heading{
                        width: 90%;
                        margin: 0 auto;
                        height: auto;
                    }
                }
           }
        }
    }
}
@include responsive_tablet_small{
    .headers{
        display: none;
    }
    .content-container{
        .container-item{
            .container-heading{
                padding: 3rem 0 2rem 0;
                .container-item-logo{
                    height: 6.6rem;
                }
                .container-item-title{
                    font-size: 1.8rem;
                }
            }
            .container-body{
                padding: 0 1rem;
                .container-service{
                    .training--item{
                        a{
                            position: relative;
                            .service-image{
                                width: 100%;
                            }
                            .container-service-item__note{
                               position: absolute;
                               bottom: 0.5rem;
                               left: 0rem;
                                &--image{
                                    width: 4.5rem;
                                    height: 4.5rem;
                                    z-index: 1;
                                }
                                &--desc{
                                    font-size: 1.2rem;
                                    line-height: 2.6rem;
                                    padding: 0 1rem 0 2rem;
                                    border-radius: 2rem;
                                    margin-left: -2rem;
                                    text-align: center;
                                    min-width: 14rem;
                                }
                                .training--desc{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .advise-contact{
        margin-bottom: 10rem;
        margin-top: 6rem;
        &__body{
           .contact-body{
                display: flex;
                flex-direction: column-reverse;
                &__left{
                    display: flex;
                    .contact-body__column{
                       
                        .contact-logo{
                            width: 5rem;
                        }
                        .contact__title{
                            font-size: 1.8rem;
                            margin-top: 2rem;
                        }
                        .contact__name{
                            font-size: 2.1rem;
                            padding: 1rem 0;
                        }
                        .contact__desc{
                            font-size: 1.6rem;
                        }
                    }
                }
                &__right{
                    &-heading{
                        width: 90%;
                        margin: 0 auto;
                        height: auto;
                    }
                    &-info{
                        .form-group{
                            .form-control{
                                width: 50%;
                                height: 6rem;
                            }
                        }
                    }
                }
           }
        }
    }
}
@include responsive_mobile {
    .headers{
        display: none;
    }
    .container-max {
        margin-top: 0;
    }
    .pd-05{
        padding: 0.5rem;
    }
    .content-container{
        .container-item{
            .container-body{
                .container-service{
                    .training--item{
                        a{
                            position: relative;
                            .service-image{
                                width: 100%;
                            }
                            .container-service-item__note{
                               position: absolute;
                               bottom: 0.5rem;
                               left: 0;
                                &--image{
                                    width: 4rem;
                                    height: 4rem;
                                    z-index: 1;
                                }
                                &--desc{
                                    font-size: 1.1rem;
                                    line-height: 2.6rem;
                                    padding: 0 1rem 0 2rem;
                                    border-radius: 2rem;
                                    margin-left: -2rem;
                                    text-align: center;
                                    min-width: 14rem;
                                }
                                .training--desc{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   .training-container{
        margin-top: 3rem;
        .content-img{
            height: 5.5rem;
            width: 6.7rem;
            margin-left: 50%;
            transform: translateX(-50%);
            padding-left: 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .content-title{
            h2 {
                font-size: 1.8rem;
            }
        }
    .content-product-training{
        display: none;
       
    }
   }
   .container-body-training{
        margin: 5.9rem 3rem 7rem 3rem;

        .container-service{
            .container-service-item{
                .service-image{
                    width: 18.4rem;
                    height: 20.1rem;
                }
            }
        }
   }
    .advise-contact-training{
        margin-top: 13.5rem;
    }
    .address-training{
        margin-top: 3.8rem;
    }
    .advise-space {
        height: 10rem;
    }
    .advise-contact{
        &__body{
           .contact-body{
                display: flex;
                &__left{
                    .contact-body__column{
                        background-image: url('../images/contact/_Path_.png');
                        @include backgroundImage();
                    }
                }
           }
        }
    }
}
@include responsive_mobile_small{
    .content-container{
        .container-item{
            .container-body{
                .container-service{
                    .training--item{
                        a{
                            position: relative;
                            .service-image{
                                width: 100%;
                            }
                            .container-service-item__note{
                               position: absolute;
                               bottom: 0.5rem;
                               left: 0;
                                &--image{
                                    width: 4rem;
                                    height: 4rem;
                                    z-index: 1;
                                }
                                &--desc{
                                    font-size: 1.1rem;
                                    line-height: 2.6rem;
                                    padding: 0 1rem 0 2rem;
                                    border-radius: 2rem;
                                    margin-left: -2rem;
                                    text-align: center;
                                    min-width: 14rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
