@import 'variables';
.header-contact{
    .moble-image {
        display: none;
    }
    &-right{
        &__cart{
            &--number {
                content: "";
                position:absolute;
                top: -1rem;
                right: -4px;
                padding: 0.8rem;
                background-color: $colorStoreNumber;
                border-radius: 50%;
                color:$white;
                font-size: 1.6rem;
                font-family: UTM-AvoBold;
            }
        }
    }
}

.header-main{
    &-nav{
        &__list{
            margin-bottom: 6.5rem;
            &--item.active {
                a {
                    color: $header-color;
                    font-weight: 600;
                }
            }
        }
    }
}
.main {
    .main-logo{
        &__image{
            width: 8.6rem;
            height: 6.8rem;
            margin-left: 50%;
            transform: translateX(-50%);
            &--img{
                width: 100%;
                height: 100%;
            }
        }
        &__title{
            text-transform: uppercase;
            margin-top: 2.2rem;
            margin-bottom: 5.5rem;
            font-size: 2rem;
            font-family: UTM-AvoBold;
            text-align: center;
        }
    }
    .product {
        &-cat{
            &__menu {
                list-style: none;
                flex-wrap: wrap;
                padding: 0;
                margin-bottom: 4rem;
                justify-content: center;
                li {
                    position: relative;
                    padding: 1.2rem 1.5rem;
                    border-radius: 1rem;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    margin-left: 0.5rem;
                    margin-right: 1.5rem;
                    a {
                        color: #808080;
                        font-family: Gilroy-Regular;
                    }
                }
                li:after {
                    content:"";
                    position:absolute;
                    top: 0.6rem;
                    right: -0.6rem;
                    border-right: 0.1rem solid $color-text;
                    height:80%;
                    margin-right: -0.5rem;

                }
                li:last-child:after {
                    border-right:none !important;
                }
                li.active {
                    a {
                        cursor: pointer;
                        color: $black;
                    }
                }
                li:hover {
                    a {
                        cursor: pointer;
                    }
                }
            }
        }
        .store {
            display: none;
        }
        &-details{
            .product-list {
                justify-content: space-between;
                &-item {
                    border:0.1rem solid $orange;
                    border-radius: 0.8rem;
                    margin: 0 -2.5rem 3rem;
                    &__image {
                        // height: 22rem;
                        img {
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            height: 20rem;
                        }
                    }
                    &__name {
                        // max-height: 2rem;
                        // height: 2rem;
                        margin-top: 1.8rem;
                        font-size: 1.8rem;
                        color: $black;
                        min-height: 4rem;
                    }
                    &__money {
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 1.8rem;
                        &--price {
                            color: $more-color;
                            font-size: 1.8rem;
                            font-family: Gilroy-Heavy;
                        }
                        .choose-product {
                            width: 3rem;
                            height: 3rem;
                            color: $brown;
                            font-size: 1.6rem;
                            border-radius: 50%;
                            margin-bottom: 0.6rem;
                            img {
                                margin-bottom: 0.4rem;
                            }
                        }
                    }
                }
            }
        }
        &-pagination {
            margin: 0;
            font-family: Gilroy-Heavy;
            justify-content: center;
            align-items: center;
            padding-bottom: 5rem;
            .current {
                border: 0.1rem solid #ffd00f;
                border-radius: 1.2rem;
                margin-right: 0.6rem;
                background-color: #fff !important;
                padding: 1.8rem 2.3rem ;
                font-size: 3.5rem;
                color: $white;
                display: block;
                color: #a1710f !important;
            }
            .page-numbers {
                background-color: #ffd00f;
                border: 0.1rem solid #ffd00f;
                border-radius: 1.2rem;
                margin-right: 0.6rem;
                padding: 2.5rem 2.3rem 1.5rem 2.3rem;
                font-size: 3.5rem;
                color: $white;
                display: block;
            }
            .next {
                margin: 0;
                padding: 0;
                background: none;
                border: none;
                img {
                    width: 1.8rem;
                    height:1.7rem;
                    margin-left: 1rem;
                }
            }
            .prev {
                margin: 0;
                padding: 0;
                background: none;
                border: none;
                img {
                    width: 1.8rem;
                    height:1.7rem;
                    margin-right: 1rem;
                }
            }
        }
        &-details-viewcart {
            text-align: center;
            margin-bottom: 4rem;
            .product-details-btn {
                @include buttonStyle();
                position: relative;
                border-radius: 2rem;
                padding:1rem 3.2rem;
                font-size:1.8rem;
                font-family: Gilroy-Bold;
                text-transform: uppercase;
                color: $black;
            }
            .product-details-btn:after{
                @include buttonAfter();
            }
        }
    }
    .main-image {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

